.adminHeader {
  min-width: 88vw;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  // border-bottom: 0.1rem solid rgba(239, 239, 239, 0.736);

  &__account {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    // gap: 0.5rem;
    color: var(--gray-200);
    cursor: pointer;
    &__txt {
      font-size: 1.4rem;
      color: var(--gray-300);
    }

    &__icon-one {
      font-size: 4rem;
    }

    &__icon-sec {
      font-weight: bolder;
      font-size: 2rem;
    }
  }
}
