.banner-container {
  font-family:ITANSANS ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &__banner{
    position: relative;

    &__heading--first{
      position: absolute;
      color: #fff;
      font-size: 2.5rem;
      width: 220px;
      line-height: 1.5;
      font-weight: bolder;
      top: 30%;
      right: 3%;
    }

    &__text--first{
      position: absolute;
      color: #ffffffd5;
      font-size: 1.2rem;
      top: 55%;
      right: 3%;
      font-weight: bold;

    }

    &__btn--first{
      position: absolute;
      top: 65%;
      right: 5%;
    }


    &__heading--last{
      position: absolute;
      color: #fff;
      font-size: 2rem;
      font-weight: bolder;
      top: 20%;
      right: 6%;
    }

    &__text--last{
      position: absolute;
      color: #ffffffd5;
      font-size: 1.2rem;
      top: 10%;
      right: 22%;
      font-weight: bold;
    }

    &__btn--last{
      position: absolute;
      top: 80%;
      right: 25%;

      .banner-btn{
        position: relative;
        &__icon{
          position: absolute;
          left: 79%;
          top: 28%;
          font-size: large;
          color: #fff;
        }
      }
    }

    .banner__img{
      border-radius: 2rem;

      &--first{
        width: 600px;
        height: 400px;
      }

      &--middle{
        width: 250px;
        height: 190px;
      }
      
      &--last{
        width: 250px;
        height: 400px;
      }

    }

    &__middle{
      display: flex;
      flex-direction: column; 
      gap: 1.5rem;
      position: relative;
     
      .banner_middle__heading--first{
        position: absolute;
        top: 40%;
        line-height: 1.2;
        right: 5%;
        color: #fff;
        font-size: 2rem;
        width: 180px;
        cursor: pointer;
        
        &:hover{
          color: #ffffff99;
          transition: 2s;

        }
      }
      .banner_middle__txt--first{
        position: absolute;
        top: 75%;
        right: 5%;
        color: #ffffffd5;
        font-size: 1rem;
      }


      .banner_middle__heading--last{
        position: absolute;
        top: 30%;
        font-size: 2rem;
        width: 175px;
        line-height: 1.2;
        right: 5%;
        color: #fff;
        cursor: pointer;
 
        &:hover{
          color: #ffffff99;
          transition: 2s;

        }
      }
      .banner_middle__txt--last{
        position: absolute;
        top: 65%;
        right: 5%;
        color: #ffffffd5;
        font-size: 1rem;
      }
    
    }
  }


}
