.CardProduct {
  border: 0.1rem solid var(--gray-100);
  &:hover {
    border: 0.1rem solid var(--primary);
  }

  &--small {
    width: 38rem;
    height: 17rem;
    border-radius: 1.5rem;
    display: flex;
    // justify-content: space-between;

    &__imgContainer {
      width: 30%;
      display: flex;
      padding: 2rem;
      align-items: center;
    }
    &__img {
      width: 8rem;
      height: 7rem;
    }

    &__dec {
      width: 70%;
      display: flex;
      flex-direction: column;
      &__title {
        height: 70%;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        &__name {
          font-size: 1.5rem;
          color: var(--gray-400);
        }

        &__model {
          font-size: 1.3rem;
          color: var(--gray-200);
        }
      }

      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__price {
          display: flex;
          gap: 0.5rem;
          align-items: baseline;
          &__txt {
            font-size: 1.7rem;
            font-weight: bold;
            color: var(--primary);
          }

          &__num {
            font-size: 1.2rem;
            color: var(--gray-200);
          }
        }
      }
    }
  }
}
