.Slider-container{
    padding: 1rem 2rem ;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }

  .slid-img{
    display: block;
    width: 100%;

  }

  .swiper-pagination{
    
  }
  
