.line-h{
    height: 0.1rem;
    border-bottom: 0.1rem solid #e6e6e6
}

.line-v{
    width: 0.1rem;
    background-color: #e6e6e6;
}

.hover{
   &:hover{
    color: var(--primary);
   }
}

.icons{
    font-size: 2.2rem;
    color: var(--primary);
}
