@import "./reset.scss";
@import"./styledSystem.scss";
@font-face {
  font-family: IRANSANS;
  src: url(../Fonts/IRANSans-web.woff);
}

@font-face {
  font-family: IRANSANS-blod;
  src: url(../Fonts/IRANSans-Bold-web.woff);
}

@font-face {
  font-family: IRANYEKAN-blod;
  src: url(../Fonts/IRANSansWeb_FaNum_Bold.woff2);
}

@font-face {
  font-family: IRANYEKAN-extrablod;
  src: url(../Fonts/IRANYekanWebExtraBold.woff);
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: IRANSANS;
}

:root{
  font-family: IRANSANS;
  direction: rtl;
}