.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.j-c {
  justify-content: center;
}

.j-sb {
  justify-content: space-between;
}

.j-sa {
  justify-content: space-around;
}

.a-c {
  align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4{
  gap: 4rem;
}

.gap-5{
    gap: 5rem ;
}

.full-h{
  height: 100vh;
}

.full-w{
  width: 100%;
}

.fs-1{
  font-size: 1rem;
}


.fs{
  font-size: 0.5rem;
}

.pointer{
  cursor: pointer;
}

.mt-3{
  margin-top: 3rem;
}