:root {
    --primary: #EF3A4F;
    --secondary: #727272;
    --dark: #343a40;
    --dark-100:#24282d;
    --white : #fff;
    --blue-100:#19bfd3 ;
    --light: #f8f9fa;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --gray-50 : #eeeeeeb9;
    --gray-100 : #e1e1e1;
    --gray-200 : #a0a0a0;
    --gray-250 : #717171;
    --gray-300:#727272;
    --gray-400:#555
  }


  